:root {
	--color-good: #22aa22;
	--color-bad: #ff2222;
	--color-background: #1a1a1a;
	--color-transparent: #00000000;
	--color-graph-background: #ffffff;
}

body {
	font-family: "Roboto", serif;
	background-color: var(--color-background);
	color: #ffffff;
	overflow-x: hidden;
}

.monospace {
	font-family: "JetBrains Mono", monospace;
}

.status-graph {
	display: flex;
	flex-direction: row;
	height: 20vh;
	position: relative;
	width: 100%;
	min-width: 0;
}

.graph {
	background-color: var(--color-graph-background);
	color: #000000;
	font-family: "JetBrains Mono", monospace;
	margin: 16px;
	top: 10%;
	border: 2px solid #000000;
	z-index: 3;
	position: relative;
}

.graph__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.graph-bar--good {
	color: var(--color-good);
}

.graph-bar--bad {
	color: var(--color-bad);
}

.graph-bar {
	flex-basis: 0;
	flex-grow: 1;
	z-index: 2;
}

.graph-bar__bar {
	height: 100%;
	display: flex;
	justify-content: center;
}

.graph-bar__details {
	border-width: 2px;
	border-style: solid;
	text-align: center;
	top: -30%;
	white-space: nowrap;
	position: absolute;
	padding: 4px;
	background-color: var(--color-graph-background);
	height: fit-content;
	z-index: 4;
}

.graph-bar__details--good {
	border-color: var(--color-good);
}

.graph-bar__details--bad {
	border-color: var(--color-bad);
}

header {
	height: 10vh;
	margin: 16px;
	display: flex;
	justify-content: space-between;
}

#icon {
	display: flex;
	flex-direction: column;
}

#summary {
	text-align: right;
	flex-direction: column;
}

#status-summary {
	font-size: 36px;
}
