:root {
	--color-good: #22aa22;
	--color-bad: #ff2222;
	--color-background: #1a1a1a;
	--color-transparent: #00000000;
}

body {
	font-family: "Roboto", serif;
}

.monospace {
	font-family: "JetBrains Mono", monospace;
}

.status-graph {
	display: flex;
	flex-direction: row-reverse;
	height: 20vh;
}

.graph-bar--good {
	color: var(--color-good);
}

.graph-bar--bad {
	color: var(--color-bad);
}

.graph-bar {
	width: 64px;
}

.graph-bar__bar {
	height: 100%;
}
